body {
    min-height: 100vh;
    background-color: var(--offWhite);
}

/* /- - - - - - - - - - conteúdo - - - - - - - - - -/ */

.titulo {
    font-size: 42px;
    color: var(--azulEscuro);
}

.titulo2 {
    font-size: 30px;
}

.estatisticas {
    margin: 40px 0 80px 0;
    background-color: var(--begeClaro);
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        margin-top: 30px;
    }
}

.divisoria {
    user-select: none;
    margin: 50px;
    border-radius: 3px;
    width: 88%;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--begeClaro);
}

.doacoes {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    color: var(--azulEscuro);

    b {
        color: var(--verdeNeon);
    }

    h1 {
        font-size: 27px;
    }
}

.doadores,
.info-doadores {
    margin: 8px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0;

    p {
        color: var(--azulEscuro);
        opacity: 60%;

        font-size: 25px;
    }
}

table {
    color: var(--azulEscuro);
    width: 85%;
    border-collapse: collapse;
    font-size: 25px;
    letter-spacing: 0.5px;
}
caption{
    caption-side: bottom;
    margin-top: 10px;
    text-align: end;
}
caption a{
    color: var(--azul);
    font-size: 18px;
}

th,
td {
    text-align: justify;
    border-bottom: 1px solid rgb(160 160 160);
    padding: 20px;


}
.first{
    width: 600px
}

th:first-of-type, td:first-of-type{
    text-align: left;
}
th:last-of-type, td:last-of-type{
    text-align: right;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}



.button {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 60px 0 60px 0;

    a {
        border: 0px;
        border-radius: 3px;
        font-size: 20px;
        color: var(--begeClaro);
        background-color: var(--azul);
        padding: 10px;
        width: 200px;
        height: auto;
        transition: all 0.4s;
        cursor: pointer;
        text-align: center;
    }

    a:hover {
        background-color: var(--verdeNeon);
    }
}

/* /- - - - - - - - - - responsividade - - - - - - - - - -/ */

@media (max-width:1440px) {
    .first{
        width: 400px
    }
}
@media (max-width:1440px) {
    .first{
        width: 250px
    }
}
@media (max-width:900px) {
    .titulo{
        font-size: 35px;
    }
    .titulo2{
        font-size: 25px;
        text-align: center;
    }
    .doacoes h1{
        font-size: 25px;
    }
    table {
        font-size: 20px;
    }
    .button {
        width: 85%;
        margin: 60px 0 60px 0;

        a {
            font-size: 18px;
            padding: 10px;
            width: 180px;
        }
    }
}
@media (max-width:750px) {
    .first{
        width: 200px
    }
    .titulo2{
        font-size: 25px;
        width: 500px;
    }
}
@media (max-width:650px) {
    .titulo{
        font-size: 28px;
    }
    .titulo2{
        font-size: 20px;
        width: 400px;
    }
    .doacoes h1{
        font-size: 20px;
    }
    .first{
        width: 100px
    }
    .button {
        width: 85%;
        margin: 60px 0 60px 0;

        a {
            font-size: 16px;
            padding: 10px;
            width: 160px;
        }
    }
}
@media (max-width:550px) {
    table {
        font-size: 17px;
    }
    td{
        padding: 12px;
    }
}
@media (max-width:470px) {
    .titulo2{
        font-size: 18px;
        width: 300px;
    }
    .doacoes h1{
        font-size: 17px;
    }
}
@media (max-width:400px) {
    .button {
        width: 85%;
        margin: 60px 0 60px 0;
        justify-content: center;

        a {
            font-size: 15px;
            padding: 10px;
            width: 150px;
        }
    }
}
@media (max-width:380px) {
    table {
        font-size: 16px;
    }
}
@media (max-width:350px) {
    table {
        font-size: 15px;
    }
    .titulo{
        font-size: 25px;
    }
    .titulo2{
        font-size: 16px;
    }
}
@media (max-width:320px) {
    .titulo2{
        font-size: 15px;
        width: 250px;
    }
    .doacoes h1{
        font-size: 15px;
    }
    table {
        font-size: 14px;
    }
    .button {
        width: 85%;
        margin: 60px 0 60px 0;
        justify-content: center;

        a {
            font-size: 14px;
            padding: 10px;
            width: 140px;
        }
    }
}