body {
  background-color: var(--verdeEscuro);
  background-image: url("../images/fundoAuth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: initial;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;

  overflow-y: hidden;
}

.sucMsg{
  width: 50%;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--verdeClaro);
  border: 2px solid var(--verde);
  border-top: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  animation: msg 3s linear both;
}
.sucMsg p{
  color: var(--verdeEscuro);
}
@keyframes msg {
  0%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

main {
  display: flex;
  width: 80%;
  max-width: 1100px;
  margin-right: 500px;
  margin: auto;
  height: 600px;
  border-radius: 15px;
  background-color: var(--verdeClaro);
}

.logo{
  width: 120px;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: transform 0.3s ease
}

.logo:hover {
  transform: scale(1.2); /* Aumenta a imagem em 20% */
}

.logoLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto; 
}

main a{
  color: var(--begeClaro);
  text-decoration: none;
  border: 2px solid var(--begeClaro); 
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 2.3;
  transition: all 300ms ease;
}

a:hover{
  background-color: var(--begeClaro);
  color: var(--verde);
  text-shadow: none;
}

p{
  color: var(--begeClaro);
}

.title{
  font-size: 40px;
  font-weight: bold;
  text-shadow: 8px 6px 7px rgba(0, 0, 0, 0.5);
}

.subtitle{
  font-size: 20px;
  white-space: nowrap;
  line-height: 2.5;
  text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
}

.form1{
  background-color: var(--verde);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-radius: 15px 0 0 15px;
}

.form2{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.form2 .links{
  display: none;
}

.title2{
  font-size: 40px;
  font-weight: bold;
  text-shadow: 8px 6px 7px rgba(0, 0, 0, 0.5);
  margin-bottom: 70px;
}

input{
  background-color: var(--verde);
  border: none;
  color: var(--begeClaro);
  padding: 2%;
  border-radius: 4px;
  width: 80%;
  font-size: 18px;
  margin: 15px;
  outline: none;
  border: 2px solid var(--verde);
}

input::placeholder{
  color: var(--verdeClaro);
  font-size: 18px;
}
input:focus{
  border: 2px solid var(--verdeEscuro);
}
.senha_input{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin: 0 auto;

}
.senha_input input{
  margin: 15px 0;
  width: 90%;
  border-radius: 4px 0 0 4px;
  border-right: transparent;
}

.senha_input .olho{
  background-color: var(--verde);
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 2% 0;
  border-radius: 0 4px 4px 0;
  border: 2px solid var(--verde);
  border-left: transparent;
  color: var(--verdeClaro);
  cursor: pointer;
}
.senha_input input:focus + .olho{
  border: 2px solid var(--verdeEscuro);
  border-left: transparent;
}

button{
  background-color: var(--verde);
  color: var(--begeClaro);
  border: none;
  padding: 5px 85px;
  font-size: 20px;
  border-radius: 40px;
  margin: 40px;
  cursor: pointer;
  transition: all 400ms ease;
}

button:hover{
  background-color: var(--bege);
  color: var(--verdeEscuro);
}

input[type="email"] {
  background-image: url("../images/email_login.png"); /* URL do ícone */
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 25px;
  padding-left: 40px; /* Espaço para o ícone */
}

.senha_input input {
  background-image: url("../images/password_login.png"); /* URL do ícone */
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 25px;
  padding-left: 40px; /* Espaço para o ícone */
}



@media (max-width:1024px) {
  main {
    width: 75%;
    height: 450px;
  }

  main a{
    font-size: 15px;
  }

  .title{
    font-size: 30px;
  }

  .logoLogin{
    width: 200px;
  }

  .subtitle{
    font-size: 18px;
  } 
  
  .logo{
    width: 100px;
  }

  .title2{
    font-size: 30px;
    margin-bottom: 40px;
  }

  input{
    font-size: 18px;
  }
  
  input::placeholder{
    font-size: 18px;
  }

  button{
    font-size: 18px;
    padding: 3px 45px;
  }

  input[type="email"] {
    background-size: 20px;
    padding-left: 30px; 
  }
  
  .senha_input input {
    background-size: 20px;
    padding-left: 30px; 
  }
  
}

@media (max-width:900px) {
  main {
    width: 75%;
    height: 385px;
  }
  main a{
    font-size: 15px;
    padding: 3px 7px;
  }
  .login_link{
    margin: 2px;
  }
  .title{
    font-size: 25px;
  }
  .logoLogin{
    width: 170px;
  }
  .subtitle{
    font-size: 15px;
  } 
  .logo{
    width: 90px;
  }
  .title2{
    font-size: 28px;
    margin-bottom: 35px;
  }
  input{
    font-size: 15px;
  }
  input::placeholder{
    font-size: 15px;
  }
  button{
    font-size: 18px;
    padding: 3px 55px;
    margin: 30px;
  }
  input[type="email"] {
    background-size: 19px;
  }
  .senha_input input {
    background-size: 19px;
  }
  .senha_input .olho{
    font-size: 19px;
  }
}

@media (max-width:710px) {
  main {
    height: 375px;
  }
  main a{
    font-size: 13px;
  }
  .logoLogin{
    width: 150px;
  }
  .subtitle{
    font-size: 14px;
  } 
  .title2{
    font-size: 25px;
  }
  input{
    font-size: 13px;
  }
  input::placeholder{
    font-size: 13px;
  }
  button{
    font-size: 15px;
    padding: 3px 45px;
    margin: 30px;
  }
  input[type="email"] {
    background-size: 17px;
  }
  .senha_input input {
    background-size: 17px;
  }
  .senha_input .olho{
    font-size: 17px;
  }
}

@media (max-width:710px) {
  main {
    height: 365px;
  }
  .logoLogin{
    width: 150px;
  }
  .title{
    font-size: 23px;
  }
  .subtitle{
    font-size: 13px;
  } 
  .title2{
    font-size: 23px;
  }
  input[type="email"] {
    background-size: 17px;
    padding-left: 25px; 
  }
  .senha_input input {
    background-size: 17px;
    padding-left: 25px; 
  }
  .senha_input .olho{
    font-size: 16px;
  }
}

@media (max-width:610px) {
  main {
    height: 355px;
  }
  main a{
    font-size: 12px;
  }
  .logoLogin{
    width: 140px;
  }
  .logo{
    width: 80px;
  }
  .title{
    font-size: 23px;
  }
  .subtitle{
    font-size: 12px;
  } 
}

@media (max-width:567px) {
  main {
    height: 345px;
  }
  main a{
    font-size: 11px;
  }
  .logo{
    width: 80px;
  }
  .title{
    font-size: 21px;
    text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.5);
  }
  .title2{
    font-size: 21px;
    text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }
  .subtitle{
    font-size: 11px;
  } 
  button{
    font-size: 13px;
    padding: 3px 35px;
    margin: 20px;
  }
  input[type="email"] {
    background-size: 15px;
  }
  .senha_input input {
    background-size: 15px;
  }
  input{
    font-size: 12px;
  }
  input::placeholder{
    font-size: 12px;
  }
  .senha_input .olho{
    font-size: 15px;
  }
}

@media (max-width:530px) {
  .logo{
    width: 80px;
  }
  .form1{
    display: none;
  }
  .form2{
    width: 100%;
  }
  .form2 .links{
    display: block;
  }
  .links a{
    color: var(--verdeEscuro);
  }
  .links a:hover{
    background-color: var(--verdeEscuro);
    color: var(--begeClaro);
    border: 2px solid var(--verdeEscuro); 
}
  main a{
    font-size: 14px;
    border: 2px solid var(--verde); 
  }
  main {
    width: 65%;
    height: 365px;
  }
  button{
    font-size: 17px;
    padding: 3px 45px;
    margin: 20px;
  }
  .title2{
    font-size: 25px;
    text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  input[type="email"] {
    background-size: 19px;
    padding-left: 28px; 

  }
  .senha_input input {
    background-size: 19px;
    padding-left: 28px; 
  }
  input{
    font-size: 15px;
  }
  input::placeholder{
    font-size: 15px;
  }
  .senha_input .olho{
    font-size: 19px;
  }
}

@media (max-width:375px) {
  .logo{
    width: 75px;
    top: 8px;
    left: 8px;
  }
  main{
    width: 75%;
  }
  main a{
    font-size: 13px;
  }
  button{
    font-size: 15px;
    padding: 3px 35px;
    margin: 20px;
  }
  .title2{
    font-size: 22px;
  }
  input[type="email"] {
    background-size: 17px;
  }
  .senha_input input {
    background-size: 17px;
  }
  input{
    font-size: 14px;
  }
  input::placeholder{
    font-size: 14px;
  }
  .senha_input .olho{
    font-size: 18px;
  }
}

@media (max-width:349px) {
  main a{
    font-size: 12px;
  }
}

@media (max-width:327px) {
  main {
    width: 100%;
    height: 345px;
  }
  main a{
    font-size: 11px;
  }
  button{
    font-size: 13px;
    padding: 3px 35px;
    margin: 20px;
  }
  input{
    font-size: 13px;
  }
  input::placeholder{
    font-size: 13px;
  }
  .title2{
    font-size: 21px;
  }
  input[type="email"] {
    background-size: 16px;
  }
  .senha_input input {
    background-size: 16px;
  }
  .senha_input .olho{
    font-size: 15px;
  }
}