body {
  min-height: 100vh;
  background-color: var(--offWhite);
  overflow-x: hidden;
}

.msg{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msg p{
  width: 50%;
  border-radius: 0px 0px 10px 10px;
  border-top: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  animation: msg 3s linear both;
  box-shadow: 0px 5px 20px 2px var(--verdeEscuro);
}
.sucMsg{
  background-color: var(--verdeClaro);
  border: 2px solid var(--verde);
  color: var(--verdeEscuro);
}
.errorMsg {
  background-color: rgb(255, 148, 148);
  border: 2px solid rgb(170, 0, 0);
  color: rgb(170, 0, 0);
}
@keyframes msg {
  0%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.foto {
  width: 80px;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.foto:hover {
  transform: scale(1.2);
}

.titulo {
  margin-top: 30px;
  font-size: 50px;
  color: var(--azulEscuro);
  text-align: center;
  padding-bottom: 25px;
}

.gallery{
  width: 100%;
}

.title_gallery{
  color: var(--azulEscuro);
  font-size: 35px;
  margin-top: 250px;
}

.photos_gallery{
  width: 100%;
  background-color: var(--offWhite);  
}

.photos_gallery img{
  width: 30%;
}

#picture__input {
  display: none;
}

.picture {
  width: 20%;
  height: 500px;
  aspect-ratio: 16/9;
  background: var(--verdeClaro);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--verdeEscuro);
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: var(--verdeEscuro);
  background: var(--bege);
}

.picture:active {
  border-color: var(--verdeEscuro);
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: var(--offWhite);
  background: var(--verdeEscuro);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

main{
  background-color: var(--bege);
  padding: 50px 60px;
}

form {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 50px 60px; */
  width: 100%;
}

form div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

button {
  /* background-color: var(--amarelo); */
  color: var(--azulEscuro);
  border: none;
  font-size: 18px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.editarPerfil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--azulEscuro);
  gap: 30px;
  margin-top: 55px;
  width: 100%;
}

.editarPerfil #editar, #salvar, #cancelar {
  width: 23%;
  transition: all 400ms ease;
}

#editar {
  background-color: var(--amarelo);
  border-radius: 5px;
  height: 40px;
}

#editar:hover {
  background-color: #ffee8f;
  cursor: pointer;
}

#salvar {
  background-color: rgb(180, 238, 180);
  border-radius: 5px;
  height: 40px;
}

#salvar:hover {
  background-color: #8ee48e;
  cursor: pointer;
}

#cancelar {
  background-color: rgb(243, 131, 131);
  border-radius: 5px;
  height: 40px;
}

#cancelar:hover {
  background-color: #e55959;
  cursor: pointer;
}

#salvar:disabled, #cancelar:disabled, #editar:disabled{
  background-color: lightgray;
}

#salvar:disabled:hover, #cancelar:disabled:hover, #editar:disabled:hover{
  background-color: lightgray;
  cursor: default;
}

.num_estOng{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 50px;
}
.num_estOng div{
  margin-top: 0;
}
.addEventos{
  background-color: var(--verde);
  width: 50%;
  padding: 10px;
  color: var(--begeClaro);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.buttons button {
  background-color: var(--amarelo);
  border-radius: 3px;
}

.buttons button:hover {
  background-color: #ffee8f;
  cursor: pointer;
}

label {
  color: var(--azul);
  font-size: 24px;
}

input,
select,
textarea {
  color: var(--azulClaro);
  background-color: var(--offWhite);
  border: none;
  font-size: 24px;
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
textarea{
    height: 250px;
    resize: none;
}

input::placeholder {
  font-size: 24px;
}

section {
  width: 35%;
  margin-top: -20px;
}
section div {
  margin-top: 20px;
}

.fotoPerfil {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin-top: 25px;
}
.fotoPerfil img {
  width: 70%;
}
.fotoPerfil button {
  padding: 10px;
}
.confirmeSenhaOng {
  display: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--verde);

  margin-top: 150px;
  padding: 20px;
}
footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--offWhite);
  width: 80%;
  padding-top: 40px;
  margin-top: 40px;
  gap: 10px;
}
footer .logo p {
  color: var(--offWhite);
  font-family: "MoonDance";
  font-size: 50px;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.link_title {
  font-weight: 600;
  font-size: 28px;
  color: var(--offWhite);
}
footer .links div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  width: 20%;
}
footer .links div a {
  font-size: 24px;
  font-family: "Montserrat-Light";
  text-decoration: none;
  color: var(--offWhite);
}