body {
    min-height: 100vh;
    background-color: var(--offWhite);
}

/* /- - - - - - - - - - conteúdo - - - - - - - - - -/ */

.titulo {
    margin-top: 30px;
    font-size: 50px;
    color: var(--azulEscuro);
    text-align: center;
    padding-bottom: 25px;
}
.tituloContribuicao {
    margin-top: 30px;
    font-size: 50px;
    color: var(--azulEscuro);
    text-align: center;
    padding-bottom: 25px;
}

.form{
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
form {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

form div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

button {
    /* background-color: var(--amarelo); */
    color: var(--azulEscuro);
    border: none;
    font-size: 18px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.editarPerfil {
    display: flex;
    flex-direction: row;
    color: var(--azulEscuro);
    gap: 30px;
    margin-top: 55px;
    width: 100%;
}

.editarPerfil button {
    width: 23%;
    transition: all 400ms ease;
}

#editar {
    background-color: var(--amarelo);
    border-radius: 5px;
    height: 40px;
}

#editar:hover {
    background-color: #ffee8f;
    cursor: pointer;
}

#salvar {
    background-color: rgb(180, 238, 180);
    border-radius: 5px;
    height: 40px;
}

#salvar:hover {
    background-color: #8ee48e;
    cursor: pointer;
}

#cancelar {
    background-color: rgb(243, 131, 131);
    border-radius: 5px;
    height: 40px;
}

#cancelar:hover {
    background-color: #e55959;
    cursor: pointer;
}

#salvar:disabled,
#cancelar:disabled,
#editar:disabled {
    background-color: lightgray;
}

#salvar:disabled:hover,
#cancelar:disabled:hover,
#editar:disabled:hover {
    background-color: lightgray;
    cursor: default;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.buttons button {
    background-color: var(--amarelo);
    border-radius: 3px;
}

.buttons button:hover {
    background-color: #ffee8f;
    cursor: pointer;
}

label {
    color: var(--azul);
    font-size: 24px;
}

input,
select {
    color: var(--azulClaro);
    background-color: var(--offWhite);
    border: none;
    font-size: 24px;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

input::placeholder {
    font-size: 24px;
}
.upload-label,
.add-label {
    background-color: var(--verde);
    color: var(--offWhite);
    font-weight: 600;
    border-radius: 5px;
    padding: 12px 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 300ms ease;
    width: 100%;
    display: inline-block;
    font-size: 15px;
    margin: 0 auto;
}

.upload-label:hover,
.add-label:hover {
    background-color: var(--verdeEscuro);
}
input:disabled,
select:disabled {
    opacity: 0.6;
}
section {
    width: 45%;
    margin-top: -20px;
}

section div {
    margin-top: 20px;
}

.fotoPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}
.fotoPerfil .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .fotoPerfil .img img{
   height: 100%;
 }

.fotoPerfil button {
    padding: 10px;
}
.fotoPerfil a{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e55959;
}

.confirmeSenhaPerfil {
    display: none;
}

.titulo2 {
    font-size: 30px;
}

.estatisticas {
    margin: 40px 0 80px 0;
    background-color: var(--begeClaro);
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        margin-top: 50px;
    }
}

.divisoria {
    user-select: none;
    margin: 50px;
    border-radius: 3px;
    width: 88%;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--begeClaro);
}

.doacoes {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    color: var(--azulEscuro);

    b {
        color: var(--verdeNeon);
    }

    h1 {
        font-size: 27px;
    }
}

table {
    color: var(--azulEscuro);
    opacity: 60%;
    width: 85%;
    border-collapse: collapse;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.estatisticas p{
    font-size: 18px;
    color: var(--azulEscuro);
}
th,
td {
    text-align: justify;
    border-bottom: 1px solid rgb(160 160 160);
    padding: 20px;
}

.first {
    width: 500px;
}

th:first-of-type,
td:first-of-type {
    text-align: left;
}

th:last-of-type,
td:last-of-type {
    text-align: right;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

.button-event {
    /* background-color: #E55959; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    width: 85%;
    margin: 50px 0 50px 50px;

    a {
        border: 0px;
        border-radius: 4px;
        font-size: 20px;
        color: var(--begeClaro);
        background-color: var(--azul);
        padding: 9px;
        width: 200px;
        height: auto;
        transition: all 0.4s;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    a:hover {
        background-color: var(--verdeNeon);
    }
}

/* /- - - - - - - - - - rodapé - - - - - - - - - -/ */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--verde);

    margin-top: 150px;
    padding: 20px;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--offWhite);
    width: 80%;
    padding-top: 40px;
    margin-top: 40px;
    gap: 10px;
}

footer .logo p {
    color: var(--offWhite);
    font-family: "MoonDance";
    font-size: 50px;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.link_title {
    font-weight: 600;
    font-size: 28px;
    color: var(--offWhite);
}

footer .links div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    width: 20%;
}

footer .links div a {
    font-size: 24px;
    font-family: "Montserrat-Light";
    text-decoration: none;
    color: var(--offWhite);
}

/* /- - - - - - - - - - responsividade - - - - - - - - - -/ */

@media (max-width:1440px) {
    .first {
      width: 350px
    }
    .titulo{
      padding-bottom: 30px;
    }
  }
  
  @media (max-width:1200px) {
    .first {
      width: 300px
    }
    .editarPerfil button {
      width: 40%;
    }
  }
  
  @media (max-width:1100px) {
    .first {
      width: 250px
    }
    .fotoPerfil img{
      width: 90%;
    }
  }
  
  @media (max-width:1024px) {
    section {
      width: 45%;
    }
  
    label {
      font-size: 20px;
    }
  
    input,
    select {
      font-size: 19px;
    }
  
    .titulo {
      font-size: 42px;
    }
  
    .tituloContribuicao {
      font-size: 42px;
    }
  
    .editarPerfil {
      gap: 20px;
    }
    .fotoPerfil {
      gap: 10px;
      width: 20%;
    }
    
    .fotoPerfil img {
      width: 90%;
    }
  
    .link_title {
      font-size: 24px;
    }
  
    table {
      font-size: 20px;
    }
  
    .doacoes h1 {
      font-size: 23px;
    }
  
    .titulo3 {
      font-size: 23px;
    }
  
    .button-event {
      gap: 20px;
      width: 85%;
      margin: 50px 0 50px 50px;
  
      a {
        font-size: 17px;
        width: 170px;
      }
    }
  
    .first {
      width: 200px
    }
  
    .divisoria {
      font-size: 14px;
    }
  
    .titulo2 {
      font-size: 25px;
    }
  }
  
  @media (max-width:890px) {
    form {
      flex-direction: column;
      align-items: center;
    }
  
    section {
      width: 70%;
    }
  
    .editarPerfil {
      gap: 30px;
    }
  
    .section1 {
      margin-top: 20px;
    }
  
    .section2 {
      margin-top: 5px;
    }
  
    .fotoPerfil {
      gap: 20px;
      width: 35%;
      margin: 0;
    }
  
    .fotoPerfil img {
      width: 68%;
    }
  
    table {
      font-size: 18px;
    }
  
    .first {
      width: 150px
    }
  }
  
  @media (max-width:817px) {
    .link_title {
      font-size: 20px;
    }
    
  }
  
  @media (max-width:700px) {
    .titulo {
      font-size: 35px;
    }
  
    .tituloContribuicao {
      font-size: 35px;
    }
  
    .fotoPerfil img {
      width: 85%;
    }
  
    .titulo2 {
      font-size: 20px;
      width: 450px;
      text-align: center;
    }
  
    td {
      width: 400px;
    }
  
    .td2 {
      width: 200px;
    }
  }
  @media (max-width:670px) {
    .editarPerfil button {
      width: 50%;
    }
    .editarPerfil {
      gap: 20px;
    }
  }
  @media (max-width:617px) {
    .fotoPerfil {
      gap: 20px;
      width: 40%;
      margin: 0;
    }
  
    .myDoacao {
      font-size: 25px;
    }
  
    .button-event {
      gap: 20px;
      width: 85%;
      margin: 50px 0 50px 0px;
      align-items: center;
      justify-content: center;
  
      a {
        font-size: 17px;
        width: 170px;
      }
    }
    .editarPerfil button {
      font-size: 15px;
    }
  }
  @media (max-width:600px) {
    .form{
      flex-direction: column;
      align-items: center;
    }
    .editarPerfil {
      order: 1;
    }
    .form form:first-child{
      order: 2;
    }
    form{
      width: 100%;
    }
    section{
      width: 80%;
    }
  }
  @media (max-width:550px) {
    .fotoPerfil img {
      width: 95%;
    }
  
    section .buttons {
      margin-top: 8px;
    }
  
    section div {
      margin-top: 15px;
    }
  
    .editarPerfil {
      margin-top: 40px;
    }
  }
  
  @media (max-width:450px) {
    .buttons button {
      font-size: 15px;
      width: 120px;
    }
  
    .fotoPerfil {
      width: 50%;
    }
  
    section {
      width: 80%;
    }
  
    label {
      font-size: 17px;
    }
  
    input {
      font-size: 16px;
    }
  
    .editarPerfil {
      flex-wrap: wrap;
    }
  
    #editar {
      width: 75%;
    }
    #salvar {
      width: 65%;
    }
    #cancelar {
      width: 65%;
    }
    .titulo2 {
      width: 350px;
    }
  
    .doacoes h1 {
      font-size: 18px;
    }
  
    table {
      font-size: 15px;
    }
  
    .myDoacao {
      font-size: 20px;
    }
  
    .button-event {
      gap: 20px;
      width: 85%;
      margin: 50px 0 50px 0px;
  
      a {
        font-size: 14px;
        width: 140px;
      }
    }
    .estatisticas p{
        margin: 20px;
        text-align: center;
    }
  }
  
  @media (max-width:400px) {
    .titulo {
      font-size: 30px;
    }
  
    .tituloContribuicao {
      font-size: 30px;
    }
  
    .first {
      width: 60px;
    }
  
    td {
      padding: 13px;
    }
    .upload-label{
      font-size: 12px;
    }
  }
  
  @media (max-width:385px) {
    .button-event {
      gap: 20px;
      width: 85%;
      margin: 50px 0 50px 0px;
      flex-direction: column;
  
      a {
        font-size: 14px;
        width: 170px;
      }
    }
    section{
      width: 70%;
    }
  }
  
  @media (max-width:350px) {
    .titulo2 {
      font-size: 17px;
    }
  }
  
  @media (max-width:325px) {
    .titulo {
      font-size: 25px;
    }
  
    .tituloContribuicao {
      font-size: 24px;
    }
  
    section {
      width: 95%;
    }
  
    label {
      font-size: 15px;
    }
  
    input,
    select {
      font-size: 16px;
      height: 45px;
    }
  
    .editarPerfil button {
      font-size: 15px;
    }
  
    .editarPerfil {
      margin-top: 30px;
    }
  }